@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

/* Estilos Globais */

html body p {
font-size: 16px;
margin: 15px 0 20px 0;
}

html body{
    width: 100%;
    background: #E3E6F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-aviso-valor-color-red {
    color: red !important;
}

/* Section Header */

#header{
    display: flex;
    justify-content: center;
}

#header h1 {
    margin: 30px;
}

/* Section Conteudo */

#conteudo {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 900px;
    min-height: 650px;
    margin-bottom: 30px;
    border-radius: 20px;
    position: relative;
    background-color: whitesmoke;
}

#conteudo .form-cliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

#conteudo .form-cliente #cpf {
    width: 300px;
}

#conteudo .form-cliente #buscar { 
    width: 250px
}

#conteudo #mensagemErro {
    color: red;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

#conteudo #form-emprestimo-header .btn{
    border: 1px solid black;
    background-color: white;
    transition: 0.2s ease;
}

#conteudo #form-emprestimo-header .btn:hover{
    background-color: #E3E6F3;
}

#conteudo #form-emprestimo-header h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#conteudo .form-emprestimo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#conteudo .form-emprestimo #valor {
    width: 80%;
}

#conteudo #realizar-emprestimo {
    align-self: center;
}

#conteudo .valor-parcelas {
    width: 60%;
}

#conteudo .forma-pagamento {
    display: flex;
    flex-direction: column;
}

#conteudo #info-parcelas {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#conteudo table th, #conteudo table td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}