@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

/* Estilos Globais */

html body p {
font-size: 16px;
margin: 15px 0 20px 0;
}

html body{
    width: 100%;
    background: #E3E6F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-aviso-valor-color-red {
    color: red !important;
}

/* Section Header */

#header{
    display: flex;
    justify-content: center;
}

#header h1 {
    margin: 30px;
}

/* Section Conteudo */

#conteudo {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 1000px;
    min-height: 650px;
    margin-bottom: 30px;
    border-radius: 20px;
    position: relative;
    background-color: whitesmoke;
}

#conteudo #mensagemErro {
    color: red;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

#conteudo #form-emprestimo-header .btn{
    border: 1px solid black;
    background-color: white;
    transition: 0.2s ease;
}

#conteudo #form-emprestimo-header .btn:hover{
    background-color: #E3E6F3;
}

#conteudo #form-emprestimo-header h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#conteudo h2{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#conteudo .form-emprestimo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#conteudo .form-emprestimo #valor {
    width: 80%;
}

#conteudo #realizar-emprestimo {
    align-self: center;
}

#conteudo .valor-parcelas {
    width: 60%;
}

#conteudo .forma-pagamento {
    display: flex;
    flex-direction: column;
}

#conteudo #info-parcelas, #info-relatorio, .info-credito{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#conteudo table th, #conteudo table td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

#conteudo .form-cpf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

#conteudo .form-cpf #cpf {
    width: 300px;
}

#conteudo .form-cpf #buscar { 
    width: 250px
}


.alert-success, .alert-danger {
    margin: 0 !important;
}

.alert-success {
    display: flex;
    flex-direction: column;
}

.alert-success p, .alert-success hr {
    margin-top: 0;
}

#buscar-emprestimos {
    align-self: center;
}

/* Relatório */
#anychart-container {
    margin: 40px 0px 40px 25px;
    width: 95%;
    height: 450px;
}

.form-relatorio {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: center; 
    margin-bottom: 20px;
}

.form-relatorio button {
    width: 120px;
}

.form-inputs {
    flex-direction: row;
    justify-content: center;
}

.form-inputs label {
    margin-left: 20px;
}

.form-botao {
    display: inline-block;
    text-align: center;
}

#mostrar-dados {
    align-self: center;
    justify-self: center;
}

.form-cpf {
    display: flex;
    flex-direction: column;
    ;
}

.form-cliente input {
    margin-top: 3px;
}

.form-cliente label {
    margin-top: 7px;
}

.form-cliente button {
    margin-top: 25px;
}

